.box {
    background-color:rgb(255, 0, 98);
    /* height:200px; */
        display:flex;
    max-width:100%;
    align-items:center;
    justify-content:center;
     border:1px solid black;
     border-radius: 8px;
     flex-wrap: wrap;
     justify-content:center;
}
.blue {
     display:flex;  
        flex-direction:row;
      
     
    background-color:rgb(108, 20, 223);
    width: 300px;px;
    color:white;
    text-align:center;
    margin:10px;
    border-radius: 8px;
    justify-content:center;
    padding:5px;
   
    
}
h2{
    
  
}
