@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Grechen Fuemen', cursive;
    font-weight: bolder;
}

.header {
    display: flex;
    width: 100%;
    height: 50px;
    border: 5px solid black;
    background: linear-gradient(to bottom, #6f76df 10%, #df258b 90%);
    box-shadow: 7.6px 15.2px 15.2px hsl(0deg 0% 0% / 0.26);
    border-radius: 8px;
    justify-content: center;
}

.header h1 {
    margin: 10px;
    flex-wrap: wrap;
}
.logo-img{
    border: 0px;
}


.navbar {
  
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #eed9f8;
    margin: 5px;
    border-radius: 8px;
    flex-wrap: wrap;
}
audio{
    width: 200px;
    height: 50px;
}

ul {

    list-style-type: none;
    flex-wrap: wrap;
    margin-left: 5;
    margin-right: 5;
    padding: 10;
    width: 90%;
    height: auto;
    overflow: hidden;
    border: 4px solid rgb(202, 11, 202);
    background: linear-gradient(to bottom, #8257e7 10%, #e47ee7 90%);
    box-shadow: 7.6px 15.2px 15.2px hsl(0deg 0% 0% / 0.26);
}

.nav-list {
    margin: 5px;
    flex-wrap: wrap;

}

a {
    text-decoration: none;
    font-size: 2rem;
    color: rgb(82, 6, 82);
    

}

a:hover {
    color: rgb(100, 59, 212);
}
/*
.thumbnail::before {
    opacity: .7;
   
 }
 
 .thumbnail::after {
     opacity:1;
 
 }*/

.thumbnail:hover {
    position: relative;
    top: -20px;
    left: -30px;
    width: 500px;
    height: auto;
    display: block;
    z-index: 999;
}

/* <img src="[your hosted image URL]" class="thumbnail" height="100" width="100" />  */



.box {
    /* background: linear-gradient(to bottom, #c69de7 10%, #e47ee7 90%); */
    /* height:200px; */
    display: flex;
    /* max-width: 100%; */
    align-items: center;
    justify-content: center;
    border: 4px solid rgb(86, 5, 102);
    background-color: white;
    border-radius: 8px;
    flex-wrap: wrap;
    justify-content: center;
    /* opacity: 0.5; */
    box-shadow: 7.6px 15.2px 15.2px hsl(0deg 0% 0% / 0.26);
}

.blue {

    /* background: linear-gradient(to bottom, #c69de7 10%, #e47ee7 90%);*/
    background: linear-gradient(to bottom, #d121a5 10%, #7f97da 90%);
    max-width: 300px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 20px;
    flex:1;
    order:2;
    border: 4px solid rgb(241, 238, 238);
    color: rgb(83, 13, 74);
    text-align: center;
    border-radius: 8px;
    justify-content: center;
    padding: 10px;
    box-shadow: 7.6px 15.2px 15.2px hsl(0deg 0% 0% / 0.26);


}

.green {

    background: linear-gradient(to bottom, #d121a5 10%, #7f97da 90%);
    max-width: 300px;
    flex:1;
    order:3;
    padding: 10px;
    margin: 20px;
    border: 4px solid white;
    color: rgb(209, 28, 140);
    text-align: center;
    border-radius: 8px;
    justify-content: center;
    padding: 5px;
    box-shadow: 7.6px 15.2px 15.2px hsl(0deg 0% 0% / 0.26);


}

.red {   
  
   
    max-width: 300px;
    margin:20px;
    flex:1;
    order:1;
    padding: 10px;
    color: rgb(208, 189, 216);
    text-align: center;
    border: 4px solid white;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    justify-content: center;
    padding: 10px;
    background: linear-gradient(to bottom, #bb058e 10%, #7f97da 90%);
    box-shadow: 7.6px 15.2px 15.2px hsl(0deg 0% 0% / 0.26);

}


img {
    width: 100px;
    border-radius: 8px;
    max-width: 300px;
    /*margin: auto;*/
    border: 4px solid white;
   
}

h2 {
    justify-content: center;
    font-weight: 700;
}

.main-center h3 {
    justify-content: center;
}


.main-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    background:whitesmoke;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(to bottom, #c69de7 10%, #e47ee7 90%); */

    box-shadow: 7.6px 15.2px 15.2px hsl(0deg 0% 0% / 0.26);
    margin-bottom: 5px;
}

.form-control{
    margin:10px;
    border-radius:8px;
}
.button{
    margin:8px;
    border-radius:8px;
}

.article1 {   
    max-height: 95vh;
    margin-top: 15px;
    border: 3px solid black;
    border-radius: 8px;
    flex:1;
    order:2; 
    background: linear-gradient(to bottom, #d121a5 10%, #7f97da 90%);
    
   /* background: linear-gradient(to bottom, #c69de7 10%, #e47ee7 90%);*/
    box-shadow: 7.6px 15.2px 15.2px hsl(0deg 0% 0% / 0.26);

}

.article1 img {
  
    border-radius: 8px;
    margin-left: 35%;
    margin-right: -60%;
    box-shadow: 7.6px 15.2px 15.2px hsl(0deg 0% 0% / 0.26);

}
.article2 img {
    border-radius: 8px;
    margin-left: 35%;
    margin-right: -50%;
    box-shadow: 7.6px 15.2px 15.2px hsl(0deg 0% 0% / 0.26);

}
.article3 img {
    border-radius: 8px;
    margin-left: 35%;
    margin-right: -50%;
    box-shadow: 7.6px 15.2px 15.2px hsl(0deg 0% 0% / 0.26);

}

.article2 {
    margin: 10px;
    border: 3px solid black;
    flex:1;
    order:1;   
    border-radius: 8px;
    box-shadow: 7.6px 15.2px 15.2px hsl(0deg 0% 0% / 0.26);
   
    background: linear-gradient(to bottom, #d121a5 10%, #7f97da 90%);


}

.article3 {
    max-height: 95vh;
    margin: 10px;
    border: 3px solid black;  
     flex:1;
    order:3;   
    border-radius: 8px;
    background: linear-gradient(to bottom, #d121a5 10%, #7f97da 90%);
    box-shadow: 7.6px 15.2px 15.2px hsl(0deg 0% 0% / 0.26);
}

h3 {
    margin: auto;
}

p {
    font-size: 0.75rem;
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;  

}

h3 {
    padding: 20px;
    text-align: center;
}

.footer-place {
    padding: 20px;
    margin: 10px;
    border: 4px solid black;
    background: linear-gradient(to bottom, #d121a5 10%, #7f97da 90%);
    box-shadow: 7.6px 15.2px 15.2px hsl(0deg 0% 0% / 0.26);
    border-radius: 8px;
}