
.navbar{
    width: 100%;
    height: 50px;
    display:flex;
    align-items: center;
    justify-content: space-around;       
    background-color:#eed9f8;
    margin:5px;
}
ul{
    list-style-type: none;
    
    
   
    
    margin: 0;
    padding: 0;
    overflow: hidden;
    }
li {
    display: inline;
  
    
  }



.box {
    background-color:#eed9f8;
    /* height:200px; */
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 8px;
    flex-wrap: wrap;
    justify-content: center;
}

.blue {

    background-color: rgb(183, 142, 236);
    width: 300px;
    flex: 1;

    color: white;
    text-align: center;
    margin: 10px;
    border-radius: 8px;
    justify-content: center;
    padding: 5px;


}

.green {

    background-color: rgb(183, 142, 236);
    width: 300px;
    flex: 2;

    color: white;
    text-align: center;
    margin: 10px;
    border-radius: 8px;
    justify-content: center;
    padding: 5px;


}

.red {

    background-color: rgb(183, 142, 236);
    width: 300px;
    flex: 1;

    color: white;
    text-align: center;
    margin: 10px;
    border-radius: 8px;
    justify-content: center;
    padding: 5px;


}

img {
    width: 50%;
    border-radius: 8px;
}

h2 {
    justify-content: center;
}

.main-center h3 {
    justify-content: center;
}

.main-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    background-color: rgb(183, 142, 236);
}

.article1 {
    margin: 10px;    
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    background-color: rgb(172, 125, 233);

}

.article2 {
    margin: 10px;
    border: 1px solid black;
    background-color: rgb(172, 125, 233);
   
}

.article3 {
    margin: 10px;
    border: 1px solid black;
    background: linear-gradient(to bottom, #c69de7 0%, #ff99cc 100%);
}

h3 {
    margin: auto;
}

p {
    text-align: center;
    margin: 10px;
    padding: 10px;
}

h3 {
    padding: 20px;
    text-align: center;
}
}